In [70]:
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier

In [71]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/ClasherGeek77/ml-csv/main/income_evaluation.csv", header=None)
df = df.iloc[1:, :]
col_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income']
df.columns = col_names
col_names
df.head()

  age          workclass  fnlwgt  ... hours-per-week  native-country  income
1  39          State-gov   77516  ...             40   United-States   <=50K
2  50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
3  38            Private  215646  ...             40   United-States   <=50K
4  53            Private  234721  ...             40   United-States   <=50K
5  28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 1 to 32561
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  object
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  object
 3   education       32561 non-null  object
 4   education-num   32561 non-null  object
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  object
 11  capital-loss    32561 non-null  object
 12  hours-per-week  32561 non-null  object
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: object(15)
memory usage: 3.7+ MB

In [73]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [74]:
df.shape

(32561, 15)

memeriksa adanya missing values

In [75]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

menentukan fitur dan kelas

In [76]:
# x is features
X = df.drop(['income'], axis=1)
#y = class
y = df['income']

In [77]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

In [78]:
import category_encoders as ce
encoder = ce.OrdinalEncoder(cols=['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'])

X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

Bagi data menjadi data latih dan data uji

Pilih 3 classifier dari ensemble method

Implementasikan k-fold cross validation

Lakukan training menggunakan data latih dan hitung akurasinya

Lakukan prediksi meggunakan data uji kemudian hitung akurasinya

In [79]:
from sklearn.metrics import accuracy_score
clfRf = RandomForestClassifier(n_estimators=10)
clfRf = clfRf.fit(X_train, y_train)
y_predict_RF = clfRf.predict(X_test)
scores = cross_val_score(clfRf, X_train, y_train, cv=5)
print('Model Training accuracy score: {0:0.4f}'. format(clfRf.score(X_train, y_train)))
print('Model CV accuracy score: {0:0.4f}'. format(scores.mean()))
print('Model Predict accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_predict_RF)))

Model Training accuracy score: 0.9857
Model CV accuracy score: 0.8226
Model Predict accuracy score: 0.8338

In [80]:
clfET = ExtraTreesClassifier(n_estimators=10, max_depth=None, min_samples_split=2, random_state=0)
clfET = clfET.fit(X_train, y_train)
scores = cross_val_score(clfET, X_train, y_train, cv=5)
y_predict_ET = clfET.predict(X_test)
print('Model Training accuracy score: {0:0.4f}'. format(clfET.score(X_train, y_train)))
print('Model CV accuracy score: {0:0.4f}'. format(scores.mean()))
print('Model Accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_predict_ET)))

Model Training accuracy score: 1.0000
Model CV accuracy score: 0.8228
Model Accuracy score: 0.8253

In [81]:
from sklearn.ensemble import AdaBoostClassifier
clfAB = AdaBoostClassifier(n_estimators=100)
clfAB = clfAB.fit(X_train, y_train)
scores = cross_val_score(clfAB, X_train, y_train, cv=5)
y_predict_AB = clfAB.predict(X_test)
print('Model Training accuracy score: {0:0.4f}'. format(clfAB.score(X_train, y_train)))
print('Model CV accuracy score: {0:0.4f}'. format(scores.mean()))
print('Model Accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_predict_AB)))

Model Training accuracy score: 0.8478
Model CV accuracy score: 0.7986
Model Accuracy score: 0.8193

Bandingkan akurasi hasil prediksi dari 3 classifier yang digunakan!

In [82]:
print('Model RF accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_predict_RF)))
print('Model ET Accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_predict_ET)))
print('Model AB Accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_predict_AB)))

Model RF accuracy score: 0.8338
Model ET Accuracy score: 0.8253
Model AB Accuracy score: 0.8193

Manakah classifier yang memperoleh akurasi tertinggi?

Classifier dengan akurasi tertinggi adalah RandomForest